
.page-template-become-an-affiliate{
		.become-affiliate-container{
			padding-bottom:$padding-block-sm;
		}
		#two-blocks section.choose-digitas{
			padding:$padding-block-sm 0 ;
		}
}


@include media-breakpoint-up(md) {
	.page-template-become-an-affiliate{
			.become-affiliate-container{
				padding-bottom:$padding-block-md;
			}
			#two-blocks section.choose-digitas{
				padding:$padding-block-md 0 ;
			}
	}
}

@include media-breakpoint-up(lg) {
	.page-template-become-an-affiliate{
			.become-affiliate-container{
				padding-bottom:$padding-block-lg;
			}
			#two-blocks section.choose-digitas{
				padding:$padding-block-lg 0 ;
			}
	}
}


.become-affiliate-boxes{
	padding: 0 26px;

	&--mobile {
		display: block;
	}

	&--desktop {
		display: none;
	}

	.become-affiliate-boxes-item{
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		background: #fff;
		box-shadow: 1px 1px 1px rgba(160,160,160,.2);
		border-radius: 20px;
		padding: 50px 40px;
		text-align: center;

		img{
			margin: 0 auto;
		}
	}
}

.btm-buttons{
	margin: 30px auto;
	text-align: center;

	a{
		margin-top: 0;
	}
}

.become-affiliate-slick {
	.slick-dots {
		bottom: -30px;
	}
}

@include media-breakpoint-up(md) {
	.become-affiliate-boxes{
		padding: 0;

		&--mobile {
			display: none;
		}

		&--desktop {
			display: block;
		}
	}
	.btm-buttons{
		margin: 50px auto;
	}
}

@include media-breakpoint-up(md-max) {
	.become-affiliate-boxes{
		.become-affiliate-boxes-item{
			padding: 30px 40px;
			text-align: left;

			.choose-digitas--container_subtitle{
				margin-top: 0;
				text-align: left;

				&:after{
					margin-left: 0;
				}
			}

			& > div{
				align-items: center;
				display: flex;
				height: 100%;
			}
			.media{
				flex-shrink: 0;
				margin-right: 20px;
				//max-width:50%;
				img {
					max-width: 90px;
				}
			}
		}
	}
}
