// Buttons
a.btn-digitas,
button.btn-digitas {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 20px;
  padding: 7px 30px;
  margin-top: 10px;
  line-height: 24px;
  background-color: $soxo-red;
  transition: all .6s;

  &.btn-digitas-plus {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    padding: 0;
    line-height: 41px;
  }

  &:hover,
  &:focus {
    color: #FFF;
    text-decoration: none;
  }

  &.btn-digitas-red {
    background-color: $soxo-red;
    &:hover,
    &:focus {
      background-color: $soxo-red-dark;
    }
  }

  &.btn-digitas-white {
    border: 1px solid $soxo-grey;
    background-color: $soxo-white;
    color: #4d4d4f;
    &:hover,
    &:focus {
      color: #4d4d4f;
      background-color: #f1f1f3;
    }
  }

  &.btn-digitas-transparent {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FFF;
    &:hover,
    &:focus {
      color: #2c2455;
      background-color: #f1f1f3;
    }
  }

  &.btn-digitas-grey {
    color: #4d4d4f;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dcd7d3;
  }

  &.btn-digitas-faq {
    background-color: $soxo-grey-light;
    border-radius: 10px;
    color: $soxo-grey-dark;
    font-size: 600;
    line-height: 0;
    box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.2);

    &:hover,
    &:focus,
    &.faq-topic-active,
    &.faq-profile-active {
      background-color: $soxo-blue;
      color: $soxo-white;
    }
  }
  // add buttons colors here
}

@include media-breakpoint-down(xs) {
  a.btn-digitas {
    padding-left: 15px;
    padding-right: 15px;
  }
}
