.simulator-wrapper {
    background: $soxo-grey-light;
    height: 100%;
    padding: 30px 0;

    & .digitas-title {
        padding-bottom: 0;
    }

    #root {
        &>[data-reactroot].loading {

            text-align: center;
            padding: 30px;
            box-shadow: none;
            background: transparent;
        }
    }
}


@include media-breakpoint-down(md-max) { 
    .simulator-wrapper {
        background: $soxo-grey-light;
        height: 100%;
        padding: 0;
    
        & .digitas-title {
            padding-bottom: 30px;
        }

        #root {
            margin-bottom: 0;
            &>[data-reactroot] .callToAction {
                margin-top: 0;
                padding: 20px 0 0 0;
                background: $soxo-grey-light;
            }
        }
    }
}
