
.digitas-page-head-title {
  text-align: left;
  font-size: 40px;
  margin-top: 100px;
  font-weight: 300;
  color: #FFF;

  &::before {
    content: "";
    display: block;
    width: 115px;
    height: 4px;
    margin-bottom: 25px;
    background-color: #FFF;
  }

  &--grey {
    color: $soxo-grey-dark;

    &::before {
      background-color: $soxo-grey-dark;
    }
  }

  &_mobile {
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    padding: 50px 0;
    font-weight: 300;
    color: $soxo-blue-dark;

    &::before {
      content: "";
      display: block;
      width: 70px;
      height: 4px;
      margin: 0 auto 15px auto;
      background-color: $soxo-red;
    }
  }
}

.digitas-title,
.entry-header .entry-title {
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  padding: 50px 0;
  font-weight: 300;
  color: $soxo-grey-dark;

  &::after {
    content: "";
    display: block;
    width: 115px;
    height: 4px;
    margin: 25px auto 0 auto;
    background-color: $soxo-red;
  }

  &--white {
    color: #FFF;

    &::after {
      background-color: #FFF;
    }
  }

  &--grey {
    color: $soxo-grey;

    &::after {
      background-color: #FFF;
    }
  }
}

h3.digitas-title {
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  padding: 15px 0;
  font-weight: 300;
  color: $soxo-blue-dark;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    margin: 15px auto 0 auto;
    background-color: $soxo-red;
  }

  &--white {
    color: #FFF;

    &::after {
      background-color: #FFF;
    }
  }

  &--grey {
    color: $soxo-grey;

    &::after {
      background-color: #FFF;
    }
  }
}

.digitas-article-title{
  font-size: 26px;
  font-weight: 600;
  margin: 16px 0;
  text-align: center;
}

.digitas-sub-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
}

.digitas-page-head-description {
  text-align: left;
  font-size: 18px;
  padding: 40px 0;
  font-weight: 300;
  color: #FFF;

  a {
    color: inherit;
  }

  &--grey {
    color: $soxo-grey-dark;

    a {
      color: inherit;
    }
  }
}

@include media-breakpoint-down(md-max) {
    .digitas-title,
    .entry-header .entry-title {
      font-size: 32px;
    }
}
