.home {
  #MenuTop {
    display: flex;
  }
}

#MenuTop {
  display: none;
  position: relative;
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 100;
  background-color: #FFF;
  flex-direction: row;

  h1 {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    margin: 15px 0;
    padding: 0;
    max-width: 185px;
  }

  .menu-top-container {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu-top-nav-container {

      .navbar-nav {
         flex-direction: row;
         justify-content: flex-end;
         font-size: 14px;
         
         img {
           margin-bottom: 2px;
         }

         a {
          padding: 10px 18px 10px 4px;
          color: #000;
         }

      }

    }

  }

  .soxo-hamburger {
    margin-left: 30px;
  }

}

.top-menu-login-item {
  margin-left: 15px;

  a {
    text-transform: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-size: 14px;

    &::before {
      color: $soxo-blue;
    }

  }
}


@include media-breakpoint-down(md) {

  #MenuTop {
    display: flex;
    position: fixed;
    top: 0;
    height: 60px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.5);
    .navbar-brand {
      margin: 0;
      img {
        width: 145px;
      }
    }
    .menu-top-container {
      .menu-top-nav-container {
        display: none;
      }
    }
  }

}
