$soxo-blue: #2c2455;
$soxo-blue-light: #f3f5fe;
$soxo-blue-ocean: #283897;
$soxo-red: #ed424a;
$soxo-grey: #7c8083;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);

.rc-slider {
  //margin-top: 50px; 
  margin-top: 70px; 

  &-dot {
    width: 1px;
    height: 4px;
    border:  none;
    border-radius: 0;
    background: #283897;
    bottom: 0;
    top: -5px;
    left: 5px;

    &:first-child {
      display: none;
    }

  }

  &-rail {
      height: 6px;
  }

  &-handle {
    top: 2px;
  }

  &-step {
    top: 14px;
  }

  &-mark {
    //top: -18px;
    top: 22px;
    &-text {
      font-family: 'Sansa Pro', sans-serif;
      font-size: 11px;
      color: #4D4D4F;
      width: auto !important;
      margin-left: -2.5% !important;
      &:first-child {
        display: none;
      }
  
    }
  }

  &-tooltip {
    //display: none;
    width: 100px;
    text-align: center;
    position: relative;
    &-arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      border-color: #283897;
      background-color: #283897;
      border-top-color: #283897; 
      border-style: solid;
      transform: rotate(45deg);
      left: calc(50% - 6px);
      //top: -5px;
    }

    .rc-slider-tooltip-placement-top,
    .rc-slider-tooltip-arrow {
      border-top-color: #283897; 
    }
      

    &-handle {
      top: -15px;
      height: 17px; 
      width: 17px;
      border: 2px white solid;
      //margin-top: 4px !important;
    }

    &-step {
      padding-top: 8px;
    }
    
    &-inner {
      background: #283897;
      border-radius: 60px;
      box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35); 
      padding: 10px 0 8px;
      height: auto;
      line-height: 1;
      font-family: 'Sansa Pro', sans-serif;
      font-size: 14px;
      margin: 25px 0 0;
    }
  }
}


// IE 11
_:-ms-fullscreen, :root .rc-slider-handle {
  top: 8px;
}

_:-ms-fullscreen, :root .rc-slider-step {
  top: 20px;
}

_:-ms-fullscreen, :root .rc-slider-mark {
  top: 25px;
}

// FIREFOX
_:-moz-tree-row(hover), .rc-slider-handle {
  top: 2px;
}

_:-moz-tree-row(hover), .rc-slider-mark {
  //left: 10px;
}

@-moz-document url-prefix() {
  top: 2px
}

// SAFARI
_::-webkit-full-page-media, _:future, :root .rc-slider-handle {
  top: 8px;
}

@media (min-width: $screen-md-max) { 
  _::-webkit-full-page-media, _:future, :root .rc-slider-step {
    top: 20px;
  }

  _::-webkit-full-page-media, _:future, :root .rc-slider-mark {
    top: 25px;
  }
}

@media (max-width: $screen-md-max) { 
  .rc-slider {
    margin-top: 50px;

    &-dot {
      width: 1px;
      height: 4px;
      border:  none;
      border-radius: 0;
      background: #283897;
      bottom: 0;
      top: -5px;
      left: 5px;
    }

    &-handle {
      top: -5px;
      height: 8px; 
      width: 8px;
      border: 2px white solid;
      margin-top: 4px !important;
    }

    &-step {
      top: 16px;
    }

    &-mark {
      //top: -14px;
      &-text {
        font-family: 'Sansa Pro', sans-serif;
        font-size: 10px;
        color: #4D4D4F;
      }
    }
  }
}