$soxo-blue: #2c2455;
$soxo-blue-light: #f3f5fe;
$soxo-blue-ocean: #283897;
$soxo-red: #ed424a;
$soxo-grey: #7c8083;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);


.counter {
    background: white;
    border-radius: 50px;
    padding: 3px;
    
    display: inline-flex;
    width: 145px;
    height: 42px;

    box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35);

    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    &.error-counter {
        border: $soxo-red 3px solid;
        box-shadow: 0px 1px 1px 0px rgba($soxo-red, 0.35);
    }

    &-input {
        i {
            font-size: 14px
        }
    }
    
    &-value {
        border: none;
        width: 100%;
        background: transparent;
        

        font-size: 14px;
        font-weight: $semi-bold;
        color: $soxo-blue;
        text-align: center;

        &:focus,
        &:hover {
            border: none;
            outline: none;
        }

        /* hide up/down arrows ("spinners") on input fields marked type="number" */
         -moz-appearance:textfield;
        
        
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &-decrease,
    &-increase {
        background: $soxo-blue-ocean;
    
        height: 24px;
        width: 24px;
        border-radius: 50%;

        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        
        cursor: pointer;
        pointer-events: auto;
        
        & span {
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 0;
            color: white;
            margin-bottom: -2px;
        }
    }

    &-decrease {
        margin: 0 0 0 8px;
    }

    &-increase {
        margin: 0 8px 0 0;
    }

    &-disabled {
        background: #d8d3cf;
        pointer-events: none;
        cursor: default;
    }
}

@media (max-width: $screen-md) { 

    .counter {
        width: 88px;
        height: 30px;
        padding: 0px;

        &-value {
            border: none;
            width: 100% !important;
            background: transparent;
        }

        &-input {
            i {
                font-size: 14px;
                display: none;
            }
        }

        &-decrease,
        &-increase {
            height: 20px;
            width: 20px;

            & span {
                display: block;
                width: 100%;
                font-size: 12px;
                line-height: 0;
                color: white;
                padding-bottom: 0px;
            }
        }


        &-decrease {
            margin: 0 0 0 5px;
        }

        &-increase {
            margin: 0 5px 0 0;
        }
    }

}
