.blog-component{
    margin: 0 auto;

    .digitas-pretitle {
        text-align: center;
        margin: 65px auto 20px;
        color : #283897;

        & + .digitas-title{
            padding-top: 0;
        }
    }

    .digitas-title {
        margin: 20px auto 30px;
    }

    &--container {
        display: block;
        // padding: 0 12px;
        text-decoration: none;
        margin-bottom: 25px;

        &:hover {
            text-decoration: none;
        }

        &_category {
          margin-bottom: 0;
        }

        &_image {
            //height: 200px;
            margin-bottom: 15px;
        }

        &_date {
            font-size: 12px;
            color: #283897;
        }

        &_label {
            display: inline-flex;
            background: #eae6e3;
            padding: 10px;
            margin: 30px 0 10px;
        }

        &_title {
            font-size: 22px;
            color: $color-black;
        }

        &_content {
            font-size: 14px;
            color: #6f6f6f;
            margin-bottom: 25px;
            p {
                margin: 0;
                padding: 0;
            }
        }

        &_link {
            margin: 0;
            padding: 0;

            a{
                color: inherit;
            }

            &:hover {
                text-decoration: underline;
                color: $color-amaranth;
            }

            i {
                color: $color-blue-soxo;
                padding-right: 10px;
            }
            span {
                font-size: 14px;
                color: $color-amaranth;
            }
        }
    }

    &--cta {
        text-align: center;
        margin: 25px auto 70px;
        font-size: 16px;
        span {
            padding-right: 30px;
        }
        a {
            font-size: 18px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .blog-component{
        &--container {
            &_label {
                display: inline-flex;
                background: #eae6e3;
                padding: 10px;
                font-size: 14px;
                margin: 15px 0 0 0;
            }
        }
    }
}
