// temp testimonials widget

.employee-component {
  background-color: $color-digitas-blue;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 20px 70px;
  text-align: center;
  width: 100%;

    .digitas-title {
        color: #FFF;
    }
    .digitas-title:after {
        background-color: #FFF;
    }
    .container {
        p {
          color: #FFF;
          font-weight: 300;
          font-size: 18px;
          margin-top: 15px;
        }
    }
    &--cta a {
      text-align: center;
      width: 290px;
    }

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

}
