.container-prod-ctas {
    background-color: #eae6e3;
}

.prod-2nd-ctas {
    margin: 0 auto;

    .digitas-title {
        margin: 90px auto 60px;
    }

    &--mobile {
        display: none;
        .carousel {
            padding: 0 30px;

            &-item {
                .prod-2nd-ctas--container {
                    padding: 20px 15px 20px;

                    &_image {
                        height: 100px;
                        width: 100%;
                        
                        position: relative;
                        img {
                            position: absolute;
                            height: auto;
                            width: auto;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            max-height: 100px;
                        }
                    }

                    &_subtitle {
                        text-align: center;
                        font-weight: 600;
                        font-size: 18px;
                        color: #4d4d4f;

                        margin-top: 40px; 

                        &::after {
                            content: "";
                            display: block;
                            width: 40px;
                            height: 4px;
                            margin: 10px auto;
                            background-color: $color-digitas-red;
                        }
                    }

                }
            }

            &-indicators {
                display: block;
                text-align: center;
                position: relative;
                margin: 0;
                bottom: 0;
                li {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    margin: 35px 2px 0 2px;
                    bottom: 0;
                    text-indent: -999px;
                    cursor: pointer;
                    background-color: #000\9;
                    background-color: rgba(0,0,0,0);
                    border: 1px solid $color-blue-soxo;
                    border-radius: 13px;
                    max-width: 13px;
                    &.active {
                        width: 13px;
                        height: 13px;
                        margin: 0;
                        background-color: $color-blue-soxo;
                    }
                }
            }
        }

    }

    &--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFF;

        padding: 20px 30px 40px;
        border-radius: 30px;

        box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.2);

        margin: 4px;
        

        &_image {
            height: 200px;
            width: 100%;
            
            position: relative;
            img {
                position: absolute;
                height: auto;
                width: auto;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &_subtitle {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            color: $color-digitas-blue;

            margin-top: 40px; 

            &::after {
                content: "";
                display: block;
                width: 40px;
                height: 4px;
                margin: 10px auto;
                background-color: $color-digitas-red;
            }
        }
    }

    &--cta {
        text-align: center;
        margin: 15px auto;
        font-size: 16px;
        span {
            padding-right: 30px;
        }
        a {
            font-size: 18px;
        }
    }
    
    @include media-breakpoint-between(xs, md) {

        .prod-2nd-ctas {
            &--desktop {
                display: none;
            }

             &--mobile {
                display: block;
                .carousel {
                    padding: 0 30px;

                    &-item {
                        .prod-2nd-ctas--container {
                            padding: 20px 15px 20px;
                            width: 100%;

                            &_image {
                                height: 100px;
                                width: 100%;
                                img {
                                    max-height: 100px;
                                }
                            }

                            &_subtitle {
                                font-size: 16px;
                            }

                        }
                    }

                    &-indicators {
                        display: block;
                        text-align: center;
                        position: relative;
                        li {

                            width: 13px;
                            height: 13px;
                            margin: 35px 2px 0 2px;
                            bottom: 0;
                            text-indent: -999px;
                            cursor: pointer;
                            background-color: #000\9;
                            background-color: rgba(0,0,0,0);
                            border: 1px solid $color-blue-soxo;
                            border-radius: 13px;
                            max-width: 13px;
                            &.active {
                                width: 13px;
                                height: 13px;
                                margin: 0;
                                background-color: $color-blue-soxo;
                            }
                        }
                    }
                } 
             }

             &--cta {
                text-align: center;
                margin: 50px auto 65px;
                span {
                    display: block;
                    padding-right: 0px;
                    margin-bottom: 30px;
                    
                }
            }
        }

    }

    @include media-breakpoint-only(md) {

        .prod-2nd-ctas {
    
             &--mobile {
                display: block;
                .carousel {
                    padding: 0 80px;

                    &-item {
                        .prod-2nd-ctas--container {
                            padding: 20px 15px 20px;
                            width: 100%;

                            &_image {
                                height: 200px;
                                width: 100%;
                                img {
                                    max-height: 200px;
                                }
                            }

                            &_subtitle {
                                font-size: 22px;
                            }

                        }
                    }

                    &-indicators {
                        display: block;
                        text-align: center;
                        position: relative;
                        li {

                            width: 18px;
                            height: 18px;
                            margin: 35px 2px 0 2px;
                            bottom: 0;
                            text-indent: -999px;
                            cursor: pointer;
                            background-color: #000\9;
                            background-color: rgba(0,0,0,0);
                            border: 1px solid $color-blue-soxo;
                            border-radius: 18px;
                            max-width: 18px;
                            &.active {
                                width: 18px;
                                height: 18px;
                                margin: 0;
                                background-color: $color-blue-soxo;
                            }
                        }
                    }
                } 
             }

             &--cta {
                text-align: center;
                margin: 50px auto 65px;
                span {
                    display: block;
                    padding-right: 0px;
                    margin-bottom: 30px;
                    
                }
            }
        }

    }

    @include media-breakpoint-up(lg-max) {
        .prod-2nd-ctas {
            &--container {
                padding: 20px 40px 40px;
            }
        }

    }

}