.pmm-message {
    margin-bottom: 0;
}

.pmm-inner {
    padding: 1em 0 0 0;
}

.pm-form-wrapper {
    margin: 0;
    padding: 1.8em 0;
    border-top: 1px solid #ccc;
}

.pm-form-wrapper-delete {
    border-bottom: 1px solid #ccc;
}

.pm-form-wrapper h3 {
    margin-top: 0;
}

.pm-form-options p.process {
    margin: 1.5em 0 0;
}

.pm-form-options #message {
    width: 550px;
}

.pm-form-options #message p {
    margin: 0;
    font-style: italic;
    text-align: center;
}

.pm-form-content {
    max-width: 70%;
    margin: 0 0 2em;
}

.pm-form-content p.warning {
    font-size: 130%;
    font-weight: bold;
}