$soxo-blue: #2c2455;
$soxo-grey: #7c8083;
$soxo-blue-light: #f3f5fe;
$soxo-red: #ed424a;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);

.results {

    .error-message {
        color: $soxo-red
    }

    &.overlay {
        position: absolute;
        z-index: 999;
        width: 100%;
        margin: 0;
        left: 0;
        top:0;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 11;
            background-color: rgba(0,0,0,.75);
        }
    }

    &__messages {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        z-index: 20;
        width: calc(100% - 40px);
    }
}

.messages {
    display: block;
    background-color: white;
    padding: 40px;
    border-radius: 20px;

    text-align: center;

    &_error {
        & .messages-title {
            margin-bottom: 0;
        }
    }

    &-title {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase; 
        color: #283897;

        margin-bottom: 20px;

    }

    &-content {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: $screen-md-max) {

    .results {
        &.overlay {
            position: absolute !important;
            overflow: none;
        }
    }

    .messages {
        padding: 10px;

        &-title {
            font-size: 14px;
            margin-bottom: 5px;

        }

        &-content {
            font-size: 12px;
            line-height: 16px;
        }
    }
}