@import './../../styles/base';
@import 'product-layout';

// ASSETS 

#root > [data-reactroot] { 
    .simulator {
        & .results {
            background-image: url('./../../images/wave.svg');
        }
    }

    .callToAction {
        &-groupLinks:first-child {
            & > a { 
                &:before {
                    background: url('./../../images/download.svg') no-repeat center center;
                }
                
                &:last-child {
                    &:before {
                        background: url('./../../images/mail.svg') no-repeat center center;
                    }
                }
            }
        }
    }
}
