#wrapper-footer {
  padding: 0;
  margin: 0;
  font-size: 12px;

  .footer-top {
    text-align: center;
    color: #FFF;
    padding: 30px 0;
    width: 100%;
    background-color: $soxo-blue-dark;

    .footer-col {
      padding: 15px 0;
    }

    h2.widgettitle {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        float: none;
        font-weight: 300;
        margin-bottom: 5px;
        a {
          padding: 0 5px;
          text-decoration: underline;
          font-size: 12px;
          color: #FFF;
        }
      }
    }

    a.sociallink {
      i.footericon {
        color: $soxo-blue-dark;
      }
    }

    .btn-digitas-footer {
      width: 100%;
      margin-top: 0;
      margin-bottom: 15px;
      background-color: transparent;
      border: 1px solid #FFF;

      i {
        font-size: 18px;
      }
    }

    .img-apps {
      a {
        display: inline-block;
        padding: 0;
        img {
          width: 45px;
        }
      }
    }

    .emailfooternewsletter {

      .input-group {

        .form-control {
          display: block;
          font-size: 14px;
          border: 0;
          border-top-left-radius: 19px;
          border-bottom-left-radius: 19px;
        }
        .input-group-btn {
          .btn {
            color: #FFF;
            background-color: $soxo-red;
            font-size: 14px;
            border: 0;
            border-top-right-radius: 19px;
            border-bottom-right-radius: 19px;
          }
        }
      }


      [type="checkbox"]{
  			opacity: 0;
  			position: absolute;

  			& + label{
          color: $soxo-white;
          margin-top: 15px;
          margin-bottom: 0;
  				align-items: flex-start;
  				display: flex;
          a {
            color: $soxo-white;
            text-decoration: underline;
          }

  				&:before{
  					border: 3px solid $soxo-blue-dark;
  					box-shadow: 0 0 0 1px #fff;
  					content: "";
  					display: inline-block;
  					height: 14px;
  					flex-grow: 0;
  					flex-shrink: 0;
  					margin-right: 8px;
  					vertical-align: top;
  					width: 14px;
  				}
  			}
  			&:checked{
  				& + label{
  					&:before{
  						background: #fff;
  					}
  				}
  			}
  		}

    }

    .lmt-panel {
      margin: 0;
      padding: 0;
      display: inline-table;

      button {
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }

    .layer-footer {
        z-index: 90;
        top: auto;
        left: 50%;
        right: auto;
        bottom: calc(100% + 20px);
        transform: translate(-50%,0);
        width: 320px;

        &::before {
          position: absolute;
          top: 100%;
          right: auto;
          left: auto;
          @include triangle( down, 15px, 14px, $soxo-white );
          transform: translateY(0);
        }
        &::after {
          display: none;
        }
      }

  }

  .footer-bottom {
    padding: 10px 0;
    background-color: #FFF;

    .footer-bottom-menu {
      padding-bottom: 5px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        border-right: 1px solid $soxo-red;
        &:last-child {
          border-right: 0;
        }
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        a {
          font-size: 12px;
          color: $soxo-grey-dark;
          padding: 0 15px;
        }
      }
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .date-copy {
      font-size: 12px;
      padding: 15px 0;
      text-align: center;
    }
  }

  .footer-last {
    border-top: 1px solid #eae6e3;
    padding: 15px 0;
    text-align: center;

    img.confianza {
      width: 186px;
    }
  }
  .btn-digitas {
    .icon-envelop{
      &:before{
        margin-left: 0;
        width: 1.5em;
      }
    }
  }
  .fa-arrow-right{
    margin-right: 7px;
  }

}

@include media-breakpoint-up(sm) {

  #wrapper-footer {
    .footer-top {
      .layer-footer {
        width: 370px;
        &.lmt-layer-quote {
          width: 500px;
        }
      }
    }
  }
}


@include media-breakpoint-up(md) {

  #wrapper-footer {

    .footer-top {
      text-align: left;

      ul {
        li {
          display: block;
          a {
            text-decoration: none;
          }
        }
      }

      .btn-digitas-footer {
        text-align: center;
        min-width: 230px;
        width: auto;
      }

      .img-apps {
        a {
          padding-left: 0;
        }
      }

      .layer-footer {

        &.lmt-layer-quote {
          width: 500px;
        }

        &::before {
          right: auto;
          left: 50%;
        }

      }

    }

    .footer-bottom {
      .date-copy {
        padding: 0 0 5px 0;
        text-align: right;
      }
    }

  }

}
