
// .page-template-your-needs{
// 	section{
// 		&.block-posts-grid{
// 			padding-top:0;
// 		}
// 	}
// }

// page cover
.page-cover {
	width: 100%;
	position: relative;

	&_container {
		position: relative;
		display: block;
		//max-height: 280px;
		width: 100%;
		overflow: hidden;
		text-align: center;
		background-size : cover;
		background-position : center center;

		img {
			display: block;
			width: 100%;
			height:auto;
		}
  }

  & + .block-posts-grid{
  	.digitas-title{
  		padding-top: 0;
  	}
  }
}

a.back-link-page {
	display: block;
	margin: 30px 0;
	color: $soxo-black;
	text-decoration: none;
	font-size: 14px;
	span {
		vertical-align: middle;
	}
	i {
		vertical-align: middle;
		font-weight: bold;
		font-size: 28px;
		color: $soxo-blue;
	}
}

/*
--------------------------------------------------------------
    PAGES STATIQUES (accessibility, etc...)
--------------------------------------------------------------
*/
/* ---- Tous les devices ---- */
.static-content{

		/* Titre paragraphe bold */
		h3{
			font-size: 110%;
			font-weight:600;
			margin:2rem 0 1.5rem 0;
			clear:both;
			&:first-child{
				margin-top:0;
			}
		}

		h4:not(.modal-title),
		h5:not(.modal-title){
			font-size: 100%;
			font-weight:600;
			margin-bottom: 0.5rem;
			padding-left:1rem;
			clear:both;
		}

		h5{
			padding-left:2rem;
		}

		.modal-title{
			width:100%;
			text-align:center;
		}


		/* paragraphe */
		p{
			text-align:justify;
			margin: 1rem 0;
		}

		/* Bullet point */
		ul, ol{
			margin-bottom: 1.5rem;
		}

    li{
      display: list-item;
    }

		ul:not(.list-group) {
			counter-reset: section;
			list-style-type: none;





			li{
				list-style-type: none;
				padding:0;
				margin-left:0;
				margin-bottom:0.3rem;
				counter-increment: section;
				&:before{
					font-size:100%;
					content: "\2022";
					float: left;
					color: #263998;
					margin-right:1rem;
				}
			}
		}

		ol:not(.list-group) {
			list-style-type: decimal;

			li{
				margin-left:18px;
        display: list-item;
			}
		}

		/* images */
		img{
			margin-top:0.5rem;
			margin-bottom:0.5rem;
		}
		figure{
			img{
				margin-top:0;
				margin-bottom:0.3em;
			}
			figcaption{
				margin-bottom:1.7rem;
			}
		}

		em{
			font-style:italic;
		}

		/* Citations */
		blockquote {
			background-color:#eae6e3;
			font-size:120%;
			font-style:italic;
			text-align:center;
			padding:2rem;
			margin: 0;

			p{
				margin:0;
				padding:0;
			}

		}

}
/* ---------------------------------------------
           A partir de 1024px
------------------------------------------------ */
@include media-breakpoint-up(md-max) {
	.static-content{

		/* Titre paragraphe bold */
		h3{
			margin-bottom: 1.5rem;
		}

		h4:not(.modal-title),
		h5:not(.modal-title){
			margin-bottom: 1rem;
			padding-left:2rem;
		}

		h5{
			padding-left:3rem;
		}




		/* paragraphe */
		p{
			margin: 1.5rem 0;
		}

		/* Bullet point */
		ul{
			margin-bottom: 2.5rem;
		}


		ul:not(.list-group) {

			li{
				padding-left:1rem;
				margin-left:2rem;
				margin-bottom:0.5rem;
			}
		}

		ol:not(.list-group) {
			list-style-type: decimal;

			li{
				margin-left:25px;
			}
		}

		img{
			margin-top:1.5rem;
			margin-bottom:1.5rem;
		}


		/* Citations */
		blockquote {
			padding:3rem;
			margin: 0;
			font-size:130%;
			p{
				margin:0;
				padding:0;
			}
		}

	}
}


/*
--------------------------------------------------------------
    END PAGES STATIQUES
--------------------------------------------------------------
*/

// Block four round images with icons inside
.block-four-offers {
  padding-bottom: 60px;

  &_content {
    text-align: center;

    img {
      margin-bottom: 15px;
      width: 112px;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .getting-pass-knowmore {
    padding: 30px 0 60px 0;
  }
}

// Block image and list
.block-image-and-list {
  padding-bottom: 60px;
  background-color: $soxo-blue-dark;

  &_content {
    &--image {
      text-align: center;
    }
    &--list {
      color: #FFF;
      list-style-type: none;
      color: #FFF;
      h3 {
        margin-top: 30px;
        margin-left: -1.4em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
      }
      p {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-up(sm) {
  // Block image and list
  .block-image-and-list {
    padding-bottom: 60px;
    background-color: $soxo-blue-dark;

    &_content {
      &--image {
        text-align: center;
      }
      &--list {
        color: #FFF;
        list-style-type: none;
        color: #FFF;
        h3 {
          margin-top: 30px;
          margin-left: -1.4em;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 20px;
        }
        p {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }
  }

  // Block blocks de post
  .block-posts-grid {
    &_content {
      &--item {
        flex-direction: column;
        &_image {
          width: 100%;
        }
        &_text {
          padding: 30px 15px;
          width: 100%;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }

  }

}

@include media-breakpoint-up(xl) {

  .block-solutions {
    &_content {
      &--item {
        min-height: 350px;
      }
    }
  }

}
