// temp testimonials widget

.prod-head {
  z-index: -1;

  &--background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }








	&--content {
		padding-bottom: 30px;

		&_textblock {
			margin-bottom: 60px;
		}


		&_mobile {

			background-color: $soxo-grey-light;
			text-align: center;
			padding-bottom: 15px;

			h1{
				padding-bottom:20px;
			}


			.prod-head--content_textblock {
				margin-bottom: 30px;
			}


			.digitas-page-head-description {
				text-align: center;
				color: #000;
				padding: 0;
			}

		}


	}
}







@include media-breakpoint-up(md-max) {

  body.single-product .prod-head {
    &--content {
      &_image {
        margin-bottom: -80px;
      }
    }
  }

	.prod-head {

		.digitas-page-head-description {
			padding-right: 80px;
		}

	}



}



@include media-breakpoint-down(xs) {
	.prod-head {
/*
    &--content {
      &_textblock {
      }
    }
*/
  }
}






@include media-breakpoint-down(sm) {

	.prod-head {

		.digitas-page-head-description {
				p{
					color:$soxo-grey-dark!important;
					span{
						color:$soxo-grey-dark!important;
					}
				}
		}

	}
}














