
/* CSS Document */
/* ----- Mise en forme générale ----- */
body { margin:0; padding:0;}
.cacher { display: none!important; }
.warning:after {}
/* ----- Background container popin ----- */
.LnkWcbForm-background-container{	display:none;	_position:absolute;	position:fixed; 	top:0; 	left:0; 	height:100%; 	width:100%;	overflow:hidden; background:#000000; 	z-index:400;  	cursor:pointer;}

/* ----- Mise en forme du bouton ----- */

.LnkWcbForm-trigger, .lnk-loader,.LnkWcbForm-trigger-global { display: block;  border:0; cursor:pointer; margin:0; padding:0; box-sizing: content-box;}
.LnkWcbForm-trigger { display: none; }

.LnkWcbForm-trigger-global { width:210px; height: 110px;}
.LnkWcbForm-trigger-position{ 
	 background: none; 
	 z-index: 10000; 
	  position: fixed!important; left: auto; right: 5%;  	bottom: 0px;
	/* */-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
}
.LnkWcbForm-trigger-design {
	font: 12px/16px  Arial, sans-serif;
	color:#FFFFFF;
	/*Ombre */  
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
	background: #99CC33;
	overflow:visible!important;
	
	-webkit-border-radius:0px 0px 0 0;
	-moz-border-radius: 0px 0px 0 0;
	border-radius: 0px 0px 0 0;
}
.LnkWcbForm-trigger-design:hover { background: #99CC33; }
.LnkWcbForm-trigger-position:hover {bottom:0px !important }
.LnkWcbForm-trigger-position:hover .LnkWcbForm-trigger-pic  { bottom:0px; } 
.LnkWcbForm-trigger-content { position:relative; width:100%; padding:0; float:left; height:100%;}
.LnkWcbForm-trigger-content-elem_1{ display: block; float: left;  margin: 0; padding:10px 4%; width: 72%;}
.LnkWcbForm-trigger-content-elem_2{ float: left; margin: 0;  padding: 0;  width: 20%; height:100%; display:block; position:relative;}
.LnkWcbForm-trigger-pic {
	background: none;  
    display: block;
    float: right;
    height: 142px;
    left: 0;
	right: auto;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 127px;
	-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;
	bottom: 0px;
	}
.LnkWcbForm-trigger-pic-bg {
	background: url("../imgs/fond-btn-img_1.png?1845310344") no-repeat left bottom;
	background-size:contain;
    height: 100%;
    width: 100%;
	float:left;
}
.LnkWcbForm-trigger-content-elem_close { display: none; }
.LnkWcbForm-trigger-title, .LnkWcbForm-trigger_close-title { font-size:16px; line-height:20px; font-weight:bold;  float: left; margin: 0;  padding: 0;  width: 100%; clear:both;}
.LnkWcbForm-trigger_close-title { font-size:16px;  }
.LnkWcbForm-trigger-txt, .LnkWcbForm-trigger_close-txt { font-size:12px; float: left; margin: 0;  padding: 0;  width: 100%; clear:both; }
.LnkWcbForm-trigger_close-txt { font-size:12px;  }
a.LnkWcbForm-trigger-bt,a.LnkWcbForm-trigger_close-bt {   background: #FFFFFF;
    clear: both;
    color: #99CC33;
    float: left;
    font-size:14px;
    font-weight: bold; 
    margin: 0.4em 0 0 0;
    padding: 5px 10% 5px 2%;
    position: relative;
    width: auto;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}
a.LnkWcbForm-trigger_close-bt {  font-size:14px; } 
.LnkWcbForm-trigger:hover .LnkWcbForm-trigger-bt, .LnkWcbForm-trigger:hover .LnkWcbForm-trigger_close-bt {color: #99CC33;font-weight: bold;}
.LnkWcbForm-trigger-femeture{}
.lnk-loader { background: #FFF url("../imgs/loader.gif") no-repeat center center; text-indent:-9999px;}
/* ----- Mise en forme du bouton fermer ----- */
.LnkWcbForm-closer {
	position: absolute;
	cursor: pointer;
	z-index: 100;
	bottom: 100%; /* On reprend la hauteur du container*/
	right: 10px;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	width: 26px;
		height: 26px;
	max-height:60px;
	line-height:26px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	background:#99CC33;
	-webkit-border-radius:0px ;
	-moz-border-radius: 0px ;
	border-radius: 0px;
	opacity: 0.6;
}
.LnkWcbForm-closer:hover {background: #99CC33;opacity: 1;height: 30px; line-height: 30px;}

/* ----- Mise en forme du formulaire en popup ----- */
.LnkWcbForm-container-pos {
	    bottom: auto;
    display: block;
    float: left;
    height: auto;
    left: 50%;
    margin: 0; 
    position: fixed;
    right: 0px;
    text-align: left;
    top: 100px;
    width:500px;
	margin-left: -250px;
    z-index: 1500;
	box-sizing: content-box;
}
.LnkWcbForm-container, .LnkWcbForm-container p {	font: 12px/18px  Arial,sans-serif; }
.LnkWcbForm-container { 
	color: #666666;
	/* ------ */
    padding:0;
	margin:0;
    width: 100%;
	height:auto;
	position:relative;
	display:inline-block;
	float:left;
	background:#FFFFFF;
	/*Ombre*/
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
	-webkit-border-radius:0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	z-index:1000;
}
.LnkWcbForm-container-hidden {     display: block;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;}
.LnkWcbForm-header {   float: left;display: block;   margin: 0 0 0.7em 0;  padding: 1em 0 0.7em 2%; width: 98.1%;  z-index: 500; position:relative;
background: #99CC33; box-sizing: content-box;
-webkit-border-radius:0px 0px 0 0;
	-moz-border-radius: 0px 0px 0 0;
	border-radius: 0px 0px 0 0;
}	
/* ---- Image visuel 32%----- */
.LnkWcbForm-blocImg{
	    bottom: 0;
    display: block;
    height: 251px;
    position: absolute;
    right: -50px;
    width: 218px; 
	z-index:5;
}
.LnkWcbForm-img {background:url(../imgs/fond-wcb.png) no-repeat left bottom;	width: 100%;  height: 100%;}
/* ----- Mise en forme du contenu ----- */
.LnkWcbForm-text {   float: left;display: block;   margin: 0;  padding: 0 2% 35px 2%; width: 96%;  z-index: 500; position:relative; 
	height: auto; min-height:140px;  }
.LnkWcbForm-container h1 {
	font: 18px/24px  Arial, sans-serif;
	color:#FFFFFF;
	width: auto;
	padding:0;
	margin:0;
	float:left;
	clear:both;
}
.LnkWcbForm-container .text-infos { margin:0; padding:0; display:block; float:left; clear:both; width: 100%;}
.LnkWcbForm-container fieldset { margin:0; padding:0; border: none;  display:block; float:left; clear:both; width: 100%;}
.champ-wcb {	margin: 0.7em 0; display:block; float:left; clear:both; width: 100%;}
.panneau-date-differe {	margin: 0.7em 0; float:left; clear:both; width: 100%;}
/* ----- Mise en forme des statuts intermédiaires ----- */
.status-bar {	margin: 0.7em 0 ; display:block; float:left; clear:both; width: 100%;}
.status-bar .user-status {	color: #666666; padding: 0; margin:0; min-height: 1em; white-space: pre-line;	}
.status-bar .user-status.busy:before { }
/* ----- Mise en forme formulaire ----- */
.LnkWcbForm-container label {
	color: #666666;
    display: block;
    float: left;
    font-size: 12px;
	line-height:30px; /* On reprend la hauteur des inputs */
    font-weight: bold;
    margin-right: 5px;
    padding: 0;
    text-align: left;
   width: 100%;
}
.LnkWcbForm-container .LnkWcbForm-bt-valider {
	display: block;
	float:left;
	overflow:hidden;
	margin-left: 2%;
	width:auto;
	min-width: 20%;
	padding:0 0.7em;
	height:30px;
	line-height:30px;
	text-indent:0;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	border:none;
	cursor:pointer;
	-webkit-appearance: button;
	-webkit-border-radius:0px ;
	-moz-border-radius: 0px ;
	border-radius: 0px;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background: #99CC33;
	opacity:0.8;
}
.LnkWcbForm-container .LnkWcbForm-bt-valider:hover { background:#99CC33; opacity:1;}
.LnkWcbForm-container input, .LnkWcbForm-container select {
	font-family:  Arial, Verdana, sans-serif; 
	color: #333;
	font-size:12px;
	display:block;
	border:none;
	background:#F1F1F1;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-indent:2%;
}
.LnkWcbForm-container input:hover, .LnkWcbForm-container select:hover {}
.LnkWcbForm-container input.LnkWcbForm-input-tel {	width:59%;	height:30px; line-height:30px; padding-left:1%; float:left;} 
.warning:after {}
/* ----- Mise en forme des erreurs ----- */
.errors {	left:2%;	position:absolute;	right:2%;	top:0px; width: 96%; }
.errors * {	margin: 0;}
.errors ul {	padding: 0.7em 2em;  color: #CC0000;  background-color: #FFF3F3;  border: 1px solid red;}
.errors li {	list-style: disc;}
input.error, span.error {	border: 1px solid red;}
/* ----- Mise en forme du calendrier ----- */
.panneau-date-differe .LnkWcbDateDiff { margin: 0ex; }
.panneau-date-differe .LnkWcbDateDiff input.lnk-wcb-date { display: block; float:left; width:29%; height:30px; line-height:30px; margin-right:2%; padding-left:1%;}
.lnk-wcb-time {  display: block;   height: 100%;left: 0; position: absolute;  top: 0; width: 100%;}
.panneau-date-differe select{   height: 32px; width: 49%;  line-height:32px; float:left;}
.panneau-date-differe select.lnk-wcb-hours{ }
.panneau-date-differe select.lnk-wcb-minutes{  }

.panneau-date-differe select.lnk-wcb-hours, .panneau-date-differe select.lnk-wcb-minutes{ 
cursor: pointer;
    height: 100%;
    opacity: 0;
	position: absolute;
	*opacity: 1;
	*position:relative;
	*opacity: visible;
    top: 0;
    width: 49%;
	z-index:500;
}
.panneau-date-differe select.lnk-wcb-hours{     left: 0; float:left; }
.panneau-date-differe select.lnk-wcb-minutes{     right: 0; float:right; }
.ui-select .ui-btn {}
.lnkWcbForm-select-btn {
	 overflow: hidden;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
	height:30px;
	line-height:30px;
    position: relative;
    text-align: center;
	background:none;
	width:50%;
}
.lnkWcbForm-select-mask-hours, .lnkWcbForm-select-mask-minutes {
	 border: 1px solid #CCCCCC;
    width: 49%;
	height:100%;
    overflow: hidden;
    padding: 0;
	font-family:  Arial, Verdana, sans-serif; 
	color: #333;
	font-size:12px;
	display:block;
	border:none;
	background:#F1F1F1;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	z-index:1;
	
}
.lnkWcbForm-select-mask-hours {	float:left; }
.lnkWcbForm-select-mask-minutes {	 float: right;}
.panneau-date-differe .LnkWcbDateDiff {display: block;margin-top:0px;padding:0;}
.panneau-date-differe .LnkWcbDateDiff .lnk-wcb-time { display: block; float:left; width: 50%;}
.ui-datepicker.ui-widget.ui-widget-content { font-size: 0.6em; }
.panneau-date-differe .LnkWcbDateDiff span { vertical-align: top; }
/* ----- CNIL - Linkeo ----- */
.LnkWcbPoweredBy {	position:absolute;	left:2%;	bottom:5px;	text-align: left;}
.LnkWcbPoweredBy * {	vertical-align: top;}
.LnkWcbPoweredBy a{ width:17px; height:18px; cursor:pointer; display:block; text-indent:-9999px; 	background:url(../imgs/GroupeLinkeo.png) no-repeat left top;}
.LnkWcbPoweredBy img {	border: none;}
.LnkWcbCnil { }
.LnkWcbCnil .enveloppe { display: inline-block; overflow: hidden; }
.LnkWcbCnil .depliant {	white-space: nowrap;}
.LnkWcbCnil a[href] {	text-decoration: none;}
/* Responsive */
.lnkWcbForm-mobile { width:100%; min-width:1px; left:0!important; right:0!important; top:30px; margin-left: 0; }
.lnkWcbForm-mobile-horiz {  width:100%; min-width:1px; left:0; right:0;top:30px; }
.lnkWcbBt-mobile{ left:0!important; right:0!important;  }.lnkWcbBt-mobile .LnkWcbForm-trigger-global{ width:100%; } .lnkWcbBt-mobile-horiz {  }
.lnkWcbForm-mobile .LnkWcbForm-bt-valider, .lnkWcbForm-mobile .lnk-wcb-date, .lnkWcbForm-mobile .lnk-wcb-time, 
.lnkWcbForm-mobile-horiz .LnkWcbForm-bt-valider, .lnkWcbForm-mobile-horiz .lnk-wcb-date, .lnkWcbForm-mobile-horiz .lnk-wcb-time,  { width:100%; padding-left:0; padding-right:0; margin-left:0; margin-bottom:2%; }
.lnkWcbForm-mobile .lnkWcbForm-select-btn, .lnkWcbForm-mobile-horiz .lnkWcbForm-select-btn{width:100%;  }
.lnkWcbForm-mobile .panneau-date-differe .LnkWcbDateDiff input.lnk-wcb-date,  .lnkWcbForm-mobile-horiz .panneau-date-differe .LnkWcbDateDiff input.lnk-wcb-date {width:99%; margin-bottom:0.7em;  } /* Reprendre le margin de champ-wcb */
.lnkWcbForm-mobile .LnkWcbForm-img, .lnkWcbForm-mobile-horiz .LnkWcbForm-img { background-position: center bottom; }
.lnkWcbForm-tablet {   }
/* Ajustement Datepicker */
#ui-datepicker-div { width:26em; z-index:1501!important;    display: none;}
#ui-datepicker-div td span, #ui-datepicker-div td a { padding: 0.8em; font-size:1.2em; }

@media all and (max-device-width: 480px)
{
	#ui-datepicker-div { width:98%; left:0!important;  top:0!important; height: auto; display:none; }
	#ui-datepicker-div td span, #ui-datepicker-div td a { padding: 1.4em; font-size:1.4em; }

}
