
$soxo-blue: #2c2455;
$soxo-blue-light: #f3f5fe;
$soxo-blue-ocean: #283897;
$soxo-red: #ed424a;
$soxo-grey: #7c8083;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);

.products {
    &-title {
        font-size: 14px;
        font-weight: $bold;
        color: $soxo-blue;
        text-transform: uppercase;

        width: 100%;
        margin-bottom: 28px;
    }

    &__selector {
        display: flex;
        flex-wrap: wrap;

        background: $soxo-blue-light;
        border-radius: 20px 20px;
        padding: 22px 30px;

        
        &--button {
            margin: 0 10px 10px 0;
            & label {
                height: 42px;
                background: #fff;
                display: inline-flex;
                text-align: center;
                font-size: 12px;
                border-radius: 20px;
                cursor: pointer;
                color: $soxo-blue;
                background: white;
                padding: 0 30px;
                box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35);

                & span {
                    align-self: center;
                }		
            }
            // style checked button
            & input:checked + label {
                background: $soxo-blue-ocean;
                color: #fff;
            }
            // accessible hide inputs
            & input {
                border: 0; 
                clip: rect(0 0 0 0); 
                height: 1px; margin: -1px; 
                overflow: hidden; 
                padding: 0; 
                position: absolute; 
                width: 1px;
            }
            & input:focus ~ label {
                outline: 0 none;
            }
            // show fieldset focused
            & input:focus ~ .focus {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                margin: -20px;
                padding: 10px 10px 0;
                outline: 0;
                border: none;
                z-index:-1;
            }
        }

        & + div {
            margin-top: 10px;
        }
    }

    & .product {
        background: $soxo-blue-light;
        border-radius: 20px 20px;
        padding: 22px 30px;

        &__header {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            display: flex;
            align-content: center;
        }

        &-title {
            font-size: 14px;
            font-weight: $bold;
            color: $soxo-blue;
            text-transform: uppercase;
            margin-bottom: 28px;
        }

        &-label {
            font-size: 14px;
            color: $soxo-blue;
            margin-bottom: 15px;
            max-width: 145px;
        }

        &-value {
            text-align: center;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        &-close {
            font-family: "soxo-icons";
            i {
                color: $soxo-grey;
            }
        }

        &-total {
            text-align: left;
            margin-left: 10px;
        }

        &-result {
            font-size: 20px;
            font-weight: $semi-bold;
            color: $soxo-blue;
            align-self: flex-start;
            height: 42px;
            line-height: 42px;
            margin-bottom: 0;
        }

        &-error {
            border: 2px solid $soxo-red;
            box-sizing: content-box;
        }

        &.formación-pass {
            & .product__content {
                & > div:nth-child(2),{
                    visibility: hidden
                }
            }
        }
    }

    

    & > div {
        & + div {
            margin-top: 10px;
        }
    }


}


@media (max-width: $screen-md-max) { 

    .products {

        &-title {
            font-size: 11px;
            line-height: 14px;

            margin-bottom: 15px;
        }

        &__selector {
            display: flex;
            flex-wrap: wrap;

            background: $soxo-blue-light;
            border-radius: 10px 7px;
            padding: 20px 15px;

            
            &--button {
                margin: 0 5px 5px 0;
                & label {
                    height: 28px;
                    padding: 0 15px;
                }
            }

            & + div {
                margin-top: 5px;
            }
        }


        .product {

            border-radius: 10px 7px;
            padding: 20px 15px;
            
            &__content {
                display: block;
            }

             &-title {
                font-size: 12px;
            }

            &-value {
                text-align: left;
                margin-bottom: 12px;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between

            }

            &-result {
                font-size: 16px;
            }

            &-label {
                flex: 0 0 60%;
                margin-bottom: 0;
                font-size: 12px;
                align-self: center;

                & + p,
                & + div {
                    flex: 0 0 40%;
                }    
            }
            

            &-total {
                margin: 0px;
            }

             &.formación-pass {
                 
                & .product__content {
                    & > div:nth-child(2),{
                        display: none
                    }

                    & > div:nth-child(3) {
                        text-align: left
                    }
                }
            }
        }
    }

}