// Block four round images with icons inside
.block-col-offers {
  padding-bottom: 60px;

  &_content {
    text-align: center;

    img {
      margin-bottom: 15px;
      width: 112px;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .getting-pass-knowmore {
    padding: 30px 0 60px 0;
  }
}
