
// Block blocks de post
.block-posts-grid {
  padding: 60px 0;

  &.block-posts-grid-loginpage {
    padding: 60px 0 0 0;
  }

  &_image {
    min-height: 150px;

    & > div{
      height: calc( 100% - 30px );
      left: 15px;
      position: absolute;
      top: 50%;
      transform: translateY( -50% );
      width: calc( 100% - 30px );
    }
  }

  &_content {
    height: 100%;
    padding: 15px 0;

    &--item {
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 150px;
      overflow: hidden;
      background-color: $soxo-grey;
      border-radius: 30px;
      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.33);

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &_image {
        flex: 0 0 auto;
        width: 33%;
      }

      &_text {
        width: 66%;
        padding: 10px;

        h3 {
          //margin-top: 15px;
          font-size: 16px;
          color: $soxo-blue;
          text-transform: uppercase;
          font-weight: 600;
        }
        p {
          margin-bottom: 0;
          color: $soxo-blue-dark;
          font-size: 12px;
        }
      }
    }
  }

}


@include media-breakpoint-up(sm) {

  .block-posts-grid {
    &_image {
      min-height: 300px;
    }
    &_content {
      &--item {
        flex-direction: column;
        &_image {
          max-height: 250px;
          width: 100%;
        }
        &_text {
          padding: 30px 15px;
          width: 100%;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

}
