/* Sodexo : SansaPro web fonts */


// Light
@font-face {
  font-family: 'SansaPro';
  src: // url('../../src/assets/fonts/SansaPro-Light/SansaPro-Light.eot?#iefix') format('embedded-opentype'),
       // url('../../src/assets/fonts/SansaPro-Light/SansaPro-Light.otf')  format('opentype'),
	     url('../../src/assets/fonts/SansaPro-Light/SansaPro-Light.woff') format('woff'),
       url('../../src/assets/fonts/SansaPro-Light/SansaPro-Light.ttf')  format('truetype');
       // url('../../src/assets/fonts/SansaPro-Light/SansaPro-Light.svg#SansaPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Normal
@font-face {
  font-family: 'SansaPro';
  src: // url('../../src/assets/fonts/SansaPro-Normal/SansaPro-Normal.eot?#iefix') format('embedded-opentype'),
       // url('../../src/assets/fonts/SansaPro-Normal/SansaPro-Normal.otf')  format('opentype'),
	     url('../../src/assets/fonts/SansaPro-Normal/SansaPro-Normal.woff') format('woff'),
       url('../../src/assets/fonts/SansaPro-Normal/SansaPro-Normal.ttf')  format('truetype');
       // url('../../src/assets/fonts/SansaPro-Normal/SansaPro-Normal.svg#SansaPro-Normal') format('svg');
  font-weight: 400;
  font-style: normal;
}

// SemiBold
@font-face {
  font-family: 'SansaPro';
  src: // url('../../src/assets/fonts/SansaPro-SemiBold/SansaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
       // url('../../src/assets/fonts/SansaPro-SemiBold/SansaPro-SemiBold.otf')  format('opentype'),
	     url('../../src/assets/fonts/SansaPro-SemiBold/SansaPro-SemiBold.woff') format('woff'),
       url('../../src/assets/fonts/SansaPro-SemiBold/SansaPro-SemiBold.ttf')  format('truetype');
       // url('../../src/assets/fonts/SansaPro-SemiBold/SansaPro-SemiBold.svg#SansaPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'SansaPro';
  src: // url('../../src/assets/fonts/SansaPro-Bold/SansaPro-Bold.eot?#iefix') format('embedded-opentype'),
       // url('../../src/assets/fonts/SansaPro-Bold/SansaPro-Bold.otf')  format('opentype'),
	     url('../../src/assets/fonts/SansaPro-Bold/SansaPro-Bold.woff') format('woff'),
       url('../../src/assets/fonts/SansaPro-Bold/SansaPro-Bold.ttf')  format('truetype');
       // url('../../src/assets/fonts/SansaPro-Bold/SansaPro-Bold.svg#SansaPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

// Icons
@font-face {
  font-family: 'soxo-icons';
  src: url('../../src/assets/fonts/soxo/soxo-icons.eot?8244165');
  src: url('../../src/assets/fonts/soxo/soxo-icons.eot?8244165#iefix') format('embedded-opentype'),
       url('../../src/assets/fonts/soxo/soxo-icons.woff2?8244165') format('woff2'),
       url('../../src/assets/fonts/soxo/soxo-icons.woff?8244165') format('woff'),
       url('../../src/assets/fonts/soxo/soxo-icons.ttf?8244165') format('truetype'),
       url('../../src/assets/fonts/soxo/soxo-icons.svg?8244165#soxo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'soxo-icons';
    src: url('../font/soxo-icons.svg?19774009#soxo-icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "soxo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-lg:before {
  font-size : 45px;
}



.container-Icon-Link{
	display:flex;
	justify-content: center;

	&:hover{
		.iconWithBg{
			/*background-color: $soxo-blue-dark;
			font-size: 35px;
			&:before {
				margin:0;
				padding:0;
				margin-left:5px;
			}*/
		}
	}

	.iconWithBg{
		color:#fff;
		background-color: $soxo-blue;
		border-radius: 50%;
		font-size: 30px;
		width:50px;
		height:50px;
		display:inline-block;
		justify-content: center;
		margin:0;
		padding:0;
		line-height:50px;
		&:before {
			margin:0;
			padding:0;
			margin-left:6px;
		}

	}


	.text-icon{
		display: inline-block;
		color: $soxo-blue;
		font-size: 14px;
		line-height: 50px!important;
		text-decoration: none;
		padding-left:5px;
	}


}






.icon-meal:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e802'; } /* '' */
.icon-handshake:before { content: '\e803'; } /* '' */
.icon-localisation:before { content: '\e804'; } /* '' */
.icon-square:before { content: '\e805'; } /* '' */
.icon-search-2:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-messages:before { content: '\e808'; } /* '' */
.icon-calc:before { content: '\e809'; } /* '' */
.icon-shopping:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-touch:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-envelope-open:before { content: '\e80e'; } /* '' */
.icon-devices:before { content: '\e80f'; } /* '' */
.icon-business-man:before { content: '\e810'; } /* '' */
.icon-people:before { content: '\e811'; } /* '' */
.icon-building:before { content: '\e812'; } /* '' */
.icon-city-hall:before { content: '\e813'; } /* '' */
.icon-person:before { content: '\e814'; } /* '' */
.icon-close:before { content: '\e815'; } /* '' */
.icon-check:before { content: '\e816'; } /* '' */
.icon-download:before { content: '\e817'; } /* '' */
.icon-icon-target:before { content: '\e818'; } /* '' */
.icon-question:before { content: '\e819'; } /* '' */
.icon-envelop:before { content: '\e81a'; } /* '' */
.icon-arrow-next:before { content: '\e81b'; } /* '' */
.icon-arrow-down:before { content: '\e81c'; } /* '' */
.icon-arrow-right:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-corporate_expense_dollar:before { content: '\e81f'; } /* '' */
.icon-corporate_expense_euro:before { content: '\e820'; } /* '' */
.icon-flexible_remuneration_dollar:before { content: '\e821'; } /* '' */
.icon-arrow-previous:before { content: '\e822'; } /* '' */
.icon-arrow-up:before { content: '\e823'; } /* '' */
.icon-arrow-left:before { content: '\e824'; } /* '' */
.icon-offers:before { content: '\e825'; } /* '' */
.icon-flexible_remuneration_euro:before { content: '\e826'; } /* '' */
.icon-health_wellness:before { content: '\e827'; } /* '' */
.icon-leisure_offers:before { content: '\e828'; } /* '' */
.icon-motivation:before { content: '\e829'; } /* '' */
.icon-needs:before { content: '\e82a'; } /* '' */
.icon-other_services:before { content: '\e82b'; } /* '' */
.icon-pass_restaurant:before { content: '\e82c'; } /* '' */
.icon-public_solutions:before { content: '\e82d'; } /* '' */
.icon-work_life_balance:before { content: '\e82e'; } /* '' */
.icon-locator:before { content: '\e832'; } /* '' */
