
body {
  color: $soxo-grey-dark;
  font-family: $font-sansapro;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  padding-top: $combined-nav-height;
}

@include media-breakpoint-up(md-max) {
  .home #page {
    padding-top: 0;
  }
}

.breadcrumb {
  max-width: 1010px;
  margin: 0 auto;
  background-color: transparent;
  font-size: 14px;
  color: $soxo-grey-dark;
  a {
    color: $soxo-grey-dark;
    font-weight: bold;
    text-decoration: underline;
  }
}

// Override site width
@include media-breakpoint-up(md-max) {
  .container {
    width: 1010px !important;
  }
}


// Site bootstrap modale
.modal {
  .modal-content {
    border: 0;
    border-radius: 15px;
    .modal-header {
      border-bottom: 0;
    }
    .modal-footer {
      border-top: 0;
      .btn.btn-default {
        border: 0;
        font-size: 12px;
        display: inline-block;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 20px;
        padding: 7px 30px;
        margin-top: 10px;
        line-height: 24px;
        background-color: $soxo-red;
        transition: all .6s;

        &:hover {
          background-color: $soxo-red-dark;
        }
      }
    }
  }
}

/* HAMBURGER ICONS COMPONENT */

// vars

$button-width: 35px;                    // The width of the button area
$button-height: 31px;                   // The height of the button area
$bar-thickness: 3px;                    // The thickness of the button bars
$button-pad: 0;                      // The left/right padding between button area and bars.
$button-bar-space: 9px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration


.soxo-hamburger {
  display: block;
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
  background-color: rgb(255,255,255);

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: none;
    transition: background 0s $button-transistion-duration;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-thickness;
      background-color: $soxo-blue;
      content: "";
      transition-duration: $button-transistion-duration, $button-transistion-duration;
      transition-delay: 0s, $button-transistion-duration;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition-property: top, transform;
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      transition-property: bottom, transform;
    }

  }

  &.collapsed {

    span {
      background: $soxo-blue;

      &::before,
      &::after {
        transform: rotate(0);
        transition-delay: $button-transistion-duration, 0s;
      }

      &::before {
        top: -$bar-thickness - $button-bar-space;
      }

      &::after {
        bottom: -$bar-thickness - $button-bar-space;
      }

    }
  }
}

.soxo-download-icon {
  text-decoration: underline;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }

  &::before {
    content: '\e817';
    font-family: "soxo-icons";
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.soxo-download-icon-white {
    color: #FFF;
  }
}

.soxo-check-icon {
  color: inherit;

  &::before {
    content: '\e816';
    font-family: "soxo-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

/*#accordion-faq {*/
.panel-group {
  .panel {
    margin-bottom: 60px;

    a.faq-title {
      color: $soxo-grey-dark;
      font-size: 20px;
      font-weight: 600;
      padding-right: 80px;
      display: block;
      position: relative;

      &::after {
        position: absolute;
        right: 0;
        top: -10px;
        content: '-';
        color: $soxo-red;
        font-weight: 300;
        font-size: 40px;
        display: inline-block;
        text-decoration: none;
      }

      &.collapsed::after {
        content: '+';
      }

      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
      }

    }

    p {
      margin: 0;
      padding: 15px 0;
    }

	a.faq-title{
		p{
			padding:0;
		}
	}



  }

}


@include media-breakpoint-down(sm) {

	/*#accordion-faq {*/
	.panel-group {
    .panel {
      a.faq-title {
        font-size: 14px;
      }

      &-body {
        font-size: 12px;
      }
    }

  }
}

.menu-modal  {
	width:100vw;
  .modal-dialog {
    width: 90%;
    .modal-content {
      border-radius: 30px;
      border: 0;
      .modal-header {
        padding: 20px;
        h5 {
          text-transform: uppercase;
        }
      }
      .modal-body {
        padding: 15px;
        > ul {
          list-style-type: none;
          padding-left: 0;

          li {

            a {
              color: #000;
              text-transform: uppercase;
              padding: 15px;
              border-top: 1px solid $soxo-grey-light;

              &:hover,
              &:focus,
              &.active {
                background-color: $soxo-grey-light;
              }
              &.faq-topic-active{
                font-weight:bold;
                color:$soxo-blue;
              }
            }
          }
        }
      }
    }
  }
}


.ekko-lightbox .modal-dialog {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

body .bg-grey{
  background-color: $soxo-grey-light;
}
.prevent-scroll{
  overflow: hidden;
  position: fixed;
  width: 100%;
}
ul.row li{
  display: block;
}
.digitas-pretitle{
  & + .choose-digitas--container{
      margin-top: 60px;
  }
}


#two-blocks {
  display: flex;
  .choose-digitas{
    padding: 0px 0 40px;
    &--two_blocks {
      height: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  #two-blocks {
    flex-direction: column;

    .choose-digitas {
      padding: 15px 0;
    }
  }
  div.aff_container.cc div.popin div.inner{
    margin-top: 80px!important;
  }
}

// remove autofill color on webkit browsers
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

input,
textarea{
  font-family: inherit;
}

#typeformModal {
  iframe {
    border: 0;
    width: 100%;
    min-height: 450px;
  }
}