// Colors

$soxo-red: #e11624;
$soxo-red-dark: #b52e2b;

$soxo-blue: #00abe5;
$soxo-blue-dark: #4b4c4d;

$soxo-grey-light: #dddddd;
$soxo-grey: #cccccc;
$soxo-grey-dark: #aaaaaa;

$soxo-white: #FFF;
$soxo-black: #000;

// Fonts
$font-sansapro: 'SansaPro', Helvetica, Arial, sans-serif;

// Height for nav and top page padding
$combined-nav-height: 60px;

// Padding block
$padding-block-sm: 20px ;
$padding-block-md: 30px ;
$padding-block-lg: 40px ;


// override bootstrap breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  md-max: 1024px,
  lg: 1025px,
  lg-max: 1199px,
  xl: 1200px
);
