.faq-marchants {
    background: $soxo-grey-light;

    /*#accordion-faq {*/
    .panel-group {
        .panel {
            a.faq-title {
                &::after {
                    height: 100%;
                    transform: translateY(calc(50% - 10px));
                }

                p {
                    padding: 0;
                }
            }
        }
    }

    &--cta {
        display: flex;
        justify-content: center;
        padding-bottom: 70px;

    }
}

.panel.card{
    background: none;
    border: 0 none;
}


@include media-breakpoint-down(sm) {
    .faq-marchants {
        /*#accordion-faq {*/
        .panel-group {
            .panel {
                margin-bottom: 30px;
                a.faq-title {
                    font-size: 14px;
                }

                &-body {
                    font-size: 12px;
                }
            }
        }

        &--cta {
            padding-bottom: 40px;
        }
    }
}
