.life-quality-mobility {
    background-color: $soxo-blue;

  &_bgimage {
    min-height: 350px;
    height: 100%;
    background-size: cover;
    background-position: center center;

    &::after {
      display: block;
      width: 64px;
      height: 24px;
      content: url('../images/wave-blue.svg');
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &_content {
    padding: 60px 30px;
    text-align: center;

    h3.digitas-title {
      &::after {
        background-color: $soxo-red;
      }
    }

    p {
      font-size: 16px;
      font-weight: 300;
      color: $soxo-white;
    }

  }

  &.lqm-right {

  }

}

@include media-breakpoint-up(md) {

  .life-quality-mobility {
      background-color: $soxo-blue;

    &_bgimage {
      &::after {
        top: 0;
        bottom: 0;
        left: auto;
        right: -22px;
        margin: auto 0;
        transform: rotate(-90deg);
      }
    }

    &.lqm-right {

      .row {
        .col-12:first-of-type {
          order: 2;
        }
        > .col-12 {
          order: 1;
        }
      }

      .life-quality-mobility_bgimage {
        &::after {
          top: 0;
          bottom: 0;
          left: -22px;
          right: auto;
          margin: auto 0;
          transform: rotate(90deg);
        }
      }

    }

  }

}
