.online-accreditation-form {
    padding: 0 0 30px;

    .digitas-title {
        font-weight: 500;
    }

    .digitas-subtitle {
        text-align: center;
    }

    .form-iframe{
        position: relative;
        iframe {
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100%;
        }
    }
}