.poll-digitas-vc-widget {
  width: 100%;
  padding: 60px 0;
  background-color: $soxo-grey-light;

  h2.digitas-title {
    padding-top: 0;
  }

  .weblator-poll-container {
    background-color: #FFF;
    border-radius: 30px;
    margin: 0;

    .weblator-poll-loading {
      text-align: center;
      padding: 15px;
    }

    .panel.panel-default {
      margin: 0 auto;
      border-radius: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-bottom: 30px;

      .panel-heading {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        h3.panel-title.digitas-title {
          font-size: 22px;
        }
      }

      .panel-body {

        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            //line-height: 20px;
            display: inline-block;
            color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 14px;
            height: 14px;
            border: 1px solid #ddd;
            border-radius: 50%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 8px;
            height: 8px;
            background: $soxo-blue;
            position: absolute;
            top: 6px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

      }

    }

    .panel-footer {
      border: 0;
      border-radius: 0;
      background-color: transparent;
    }


    .button-vote {
      text-align: center;
      .btn-digitas {
        margin-top: 30px;
        border: 0;
        margin-bottom: 30px;
      }
    }


  }

}


@include media-breakpoint-up(md) {
  .poll-digitas-vc-widget {
    .weblator-poll-container {
      .weblator-poll-vote-list {
        min-height: 150px;
      }

      .button-vote {
        text-align: left;
        .btn-digitas {
          margin-bottom: 0;
        }
      }
    }
  }
}
