.prod-ctas {
    margin: 0 auto;

    // .digitas-title {
    //     margin: 90px auto 15px;
    // }

    &--text {
        margin: 30px auto 65px;
        font-size: 18px;
        text-align: center;
    }

    &--container {
        display: block;
        padding: 0 12px;
        text-decoration: none;
        margin-bottom: 25px;
        text-align: center;

        &:hover {
            text-decoration: none;
        }

        &_image {
            height: 100px;
            margin-bottom: 15px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &_number {
            font-size: 45px;
            font-weight: 600;
            color: $soxo-blue;
            margin-bottom: 0;
            white-space: nowrap;
        }

        &_title {
            font-size: 16px;
            color: $soxo-blue;
            margin-bottom: 15px;
        }

        &_read-more {
            margin: 0;
            padding: 0;
            display: block;
            margin-bottom: 30px;
            color: $soxo-grey-dark;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
                color: inherit;
            }

            i {
                color: $soxo-blue;
                padding-right: 10px;
            }
            span {
                font-size: 14px;
                color:  $soxo-grey-dark;
            }
        }

    }




    @include media-breakpoint-only(xs) {

        &--text {
            margin: 15px auto 35px;
            font-size: 18px;
            text-align: center;
        }

        &--container {
            margin-bottom: 40px;

            &_image {
                max-height: 64px;
                margin-bottom: 15px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }

            &_number {
                font-size: 32px;
                font-weight: 600;
                color: $soxo-blue;

                margin-bottom: 0px;
            }

            &_title {
                font-size: 16px;
                color: $soxo-blue;
                margin-bottom: 18px;
            }

            &_read-more {
                margin: 0;
                padding: 0;
                display: block;
                margin-bottom: 10px;

                text-decoration: underline;

                &:hover {
                    text-decoration: underline;
                    color: $soxo-blue;
                }

                i {
                    color: $soxo-blue;
                    padding-right: 10px;
                }
                span {
                    font-size: 14px;
                    color: $soxo-blue;
                }
            }

        }


    }
}
