.single-carousel {
    background: $soxo-red;
    margin: 0 auto;
    padding: 70px 0;
    width: 100%;

    .slick-prev,
    .slick-next {
      &:before {
          font-family: "soxo-icons";
          font-size: 45px;
          line-height: 1;
          color: $soxo-white;
        }
      }

      .slick-dots {
        li {
          button {
            border: 1px solid $soxo-white;
          }
          &.slick-active button {
              background: $soxo-white;
          }
        }
      }

      &--container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: $soxo-white;
          padding: 0 60px;

          &_number {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              flex-shrink: 0;
              align-items: flex-end;

              & .number {
                  &_value {
                      font-size: 185px;
                      line-height: 1;
                      margin: 0;
                      align-self: flex-end;
                  }

                  &_unit {
                      font-size: 70px;
                  }
              }
          }

          &_text {
            font-size: 22px;
            align-self: flex-end;
            padding: 0 0 20px 50px;
              p {
                margin-bottom: 0;
              }
              a {
                  margin-top: 10px;
                  color: $soxo-black;
              }
          }
      }

}

@include media-breakpoint-down(md) {

  .single-carousel {

    &--container {

      &_number {
          .number_value {
            font-size: 160px;
          }
          .number_unit {
            font-size: 60px;
          }
      }

      &_text {
          font-size: 16px;
      }
    }
  }

}

@include media-breakpoint-down(xs) {

  .single-carousel {

    &--container {
      flex-direction: column;
      text-align: center;

      &_number {
          .number_value {
            font-size: 120px;
          }
          .number_unit {
            font-size: 30px;
          }
      }

      &_text {
        padding: 0;
        font-size: 14px;
      }
    }
  }

}
