// temp testimonials widget

.testimonials-popin {
  display: block;
  padding: 30px 0;
  width: 100%;

  .testimonials {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .testimonial-container {
      display: block;
      vertical-align: top;
      position: relative;
      width: 100%;
      height: 300px;

      .testimonial-image {
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .testimonial-content {
        padding: 15px;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        color: #FFF;

        .testimonial-quote {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 15px;

          p {
  					margin:0 ;
            quotes: "“" "”" "‘" "’";
            &:before {
              padding-right: 5px;
              font-weight: 600;
              content: open-quote;
            }
            &:after {
              font-weight: 600;
              content: close-quote;
            }
				  }
        }

        a.btn-play-video {
          position: relative;
          display: block;
          width: 42px;
          height: 42px;
          background: transparent url('../images/btn-play-video.svg') center center no-repeat;
          background-size: 42px 42px;
          margin-top: 20px;
        }
      }

    }

  }

  .testimonials-cta {
    text-align: center;
    .btn-digitas {
      margin: 30px auto;
    }
  }

}

@include media-breakpoint-up(sm) {
  .testimonials-popin {
    .testimonials {
      .testimonial-container {
        .testimonial-content {
          padding: 20px;
          .testimonial-quote {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .testimonials-popin {
    .testimonials {
      .testimonial-container {
        .testimonial-content {
          padding: 25px;
          .testimonial-quote {
            font-size: 20px;
            line-height: 26px;
          }
        }
      }
    }
  }
}

/*-------------------------------------------------
   LG : 992px
---------------------------------------------------*/

@include media-breakpoint-up(md-max) {
  .testimonials-popin {
    .testimonials {
      .testimonial-container {
        .testimonial-content {
          padding: 30px;
          .testimonial-quote {
            font-size: 24px;
            line-height: 29px;
          }
          a.btn-play-video {
            position: absolute;
            right: 20px;
            bottom: 30px;
          }
        }
      }
    }
  }

  .testimonials {
    &.testimonialscount-1 {
      .testimonial-container {
        height: 600px;
      }
    }
  }

  .testimonials {
    &.testimonialscount-2 {
      .testimonial-container {
        width: 50%;
        height: 600px;
      }
    }
  }

  .testimonials {
    height: 600px;
    &.testimonialscount-3 {
      .testimonial-container {
        width: 50%;
        height: 300px;
        &:nth-child(1) {
          height: 600px;
        }
      }
    }
  }

  .testimonials {
    height: 740px;
    &.testimonialscount-4 {
      .testimonial-container {
        width: 50%;
        height: 470px;
        &:nth-child(2),
        &:nth-child(3) {
          height: 270px;
        }
      }
    }
  }

}
