<div class="our-projects-div">
        <div class="our-projects-container">
            <div class="our-projects-img">
              <img src="/web/bundles/bnpparibas/DataAnalyticsProjects/styles/img/neige.jpg">
            </div>
            <div class="our-projects-text">
                <h4>DataViz</h4>
                <h5>Lorem Ipsum</h5>
                <div class="our-project-a">
                    <a href="#" class="project-see-more">SEE MORE</a>
                </div>
            </div>
        </div>
        <div class="our-projects-container">
            <div class="our-projects-img">
              <img src="/web/bundles/bnpparibas/DataAnalyticsProjects/styles/img/neige.jpg">
            </div>
            <div class="our-projects-text">
                <h4>Actuarial Department</h4>
                <h5>Optimize reserving model</h5>
                <div class="our-project-a">
                    <a href="#" class="project-see-more">SEE MORE</a>
                </div>
            </div>
        </div>
        <div class="our-projects-container">
            <div class="our-projects-img">
                <img src="/web/bundles/bnpparibas/DataAnalyticsProjects/styles/img/neige.jpg">
            </div>
            <div class="our-projects-text">
                <h4>Cardif IARD</h4>
                <h5>Optimize home <br>
                & car insurance pricing</h5>
                <div class="our-project-a">
                    <a href="#" class="project-see-more">SEE MORE</a>
                </div>
            </div>
        </div>
    </div>


