
@font-face {
  font-family: 'SansaPro-SemiBold';
  src: url('SansaPro-SemiBold.eot?#iefix') format('embedded-opentype'),  url('SansaPro-SemiBold.otf')  format('opentype'),
	     url('SansaPro-SemiBold.woff') format('woff'), url('SansaPro-SemiBold.ttf')  format('truetype'), url('SansaPro-SemiBold.svg#SansaPro-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
