
@font-face {
  font-family: 'SansaPro-Bold';
  src: url('SansaPro-Bold.eot?#iefix') format('embedded-opentype'),  url('SansaPro-Bold.otf')  format('opentype'),
	     url('SansaPro-Bold.woff') format('woff'), url('SansaPro-Bold.ttf')  format('truetype'), url('SansaPro-Bold.svg#SansaPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
